#example-trux {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;
	align-content: center;

	height: 90px;
	padding: 25px;
	background-color: #369;
	color: white;
}

#trux-state {
	height: 30%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#trux-state span {
	font-weight: bold;
	font-size: 1.1em;
	margin: 0 35px;
}

#trux-actions {
	width: 100%;
	border-top: dashed white 1px;
	padding-top: 19px;
	margin-top: 9px;
	height: 50%;
}
.trux-btns {
	border: none;
	box-shadow: none;
	outline: none;
	padding: 6px;
	margin: 1.5px 9px;
	border-radius: 9px;
	border: solid white 1px;
	color: white;
	font-weight: 700;
	text-transform: lowercase;
	cursor: pointer;
	transition: 0.3s ease;
}
.trux-btns:hover {
	transform: scale(1.1);
}
.trux-btns:active {
	transform: scale(0.8);
}

.trux-btn--DECREMENT {
	background-color: rgb(153, 51, 51);
}
.trux-btn--FIXING {
	background-color: rgb(51, 61, 153);
}
.trux-btn--INCREMENT {
	background-color: #493;
}
